{{!< default}}
{{! Top line inserts this template on main layout}}

{{! Error template }}
<main id="main-nview">
	<article id="post-page-nview" class="{{post_class}} {{#if feature_image}}cover-arrange{{/if}}">
		
		{{#if feature_image}}
		<div id="post-page-cover-nview"
		style="background-image:url({{img_url feature_image}})"></div>
		{{/if}}

		<section id="post-content-nview">
			<header id="header-post-content-nview">
				<h1>{{code}}</h1>
			</header>

			<h2>Oops! {{message}}</h2>
			<a class="back-home-link" href="{{@blog.url}}">&larr; Go to home</a>
		</section>

	</article>
</main>